@model List<StaffViewModel>
@{
    ViewData["Title"] = "Index";
}


<div class="col-lg-10 mx-auto m-4">
    <a href="/Admin/Staff/Add" class="btn btn-primary w-100 my-4">Add New Staff</a>

    <div class="card">
        <div class="card-body">
            <div class="card-title">
                <h4>Staff List</h4>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Facebook</th>
                            <th>Twitter</th>
                            <th>Instagram</th>
                            <th>Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var staff in Model)
                        {
                            <tr>
                                <td><img src="~/@staff.image" style="width:80px; height:80px;" /></td>
                                <td>@staff.name</td>
                                <td>@staff.title</td>
                                <td>@staff.facebook</td>
                                <td>@staff.twitter</td>
                                <td>@staff.instagram</td>
                                <td>
                                    <a href="/Admin/Staff/Delete/@staff.id" class="btn btn-danger mr-2">Delete</a>
                                    <a href="/Admin/Staff/Update/@staff.id" class="btn btn-primary">Update</a>
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
