@model List<TrailerViewModel>

@foreach(var trailer in Model)
{
    <div class="container-xxl py-5 px-0 wow zoomIn" data-wow-delay="0.1s">
        <div class="row g-0">
            <div class="col-md-6 bg-dark d-flex align-items-center">
                <div class="p-5">
                    <h6 class="section-title text-start text-white text-uppercase mb-3">@trailer.name</h6>
                    <h1 class="text-white mb-4">@trailer.title</h1>
                    <p class="text-white mb-4">@trailer.description</p>
                    <a href="" class="btn btn-primary py-md-3 px-md-5 me-3">Bizim odalarımız</a>
                    <a href="" class="btn btn-light py-md-3 px-md-5">Restorant Odası</a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="video" style="background: linear-gradient(rgba(15, 23, 43, .1), rgba(15, 23, 43, .1)), url(@trailer.videoImage);">
                    <button type="button" class="btn-play" data-bs-toggle="modal" data-src="@trailer.videoLink" data-bs-target="#videoModal">
                        <span></span>
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content rounded-0">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">@trailer.videoTitle</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- 16:9 aspect ratio -->
                    <div class="ratio ratio-16x9">
                        <iframe class="embed-responsive-item" src="" id="video" allowfullscreen allowscriptaccess="always"
                                allow="autoplay"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        // Modal kapatma düğmesine tıklandığında sayfanın yeniden yüklenmesi
        document.addEventListener('DOMContentLoaded', function () {
            var closeModalBtn = document.querySelector('.modal .btn-close');
            if (closeModalBtn) {
                closeModalBtn.addEventListener('click', function () {
                    location.reload(); // Sayfanın yeniden yüklenmesi
                });
            }
        });
    </script>

}







